#navbar {
  position: fixed;
  width: 380px;
  height: 50px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  border-radius: 5px;
  margin-top: 10px;
  z-index: 999;
}

#mat-menu {
  display: flex;
  position: absolute;
}

.navbar-mobile-button {
  color: white;
  font-weight: bold;
  padding: 5px 15px;
  text-decoration: none;
  font-size: 18px;
}

.navbar-mobile-button:hover {
  color: #1976d2;
}

.desktop {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  #navbar {
    width: 550px;
  }
  .navbar-mobile-button {
    font-size: 22px;
  }
  .desktop {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  #navbar {
    width: 550px;
  }
  .navbar-mobile-button {
    font-size: 22px;
  }
  .desktop {
    display: flex;
  }
}
