@use "@angular/material" as mat;

mat-card-content.home {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 50px);
  min-width: 400px;
  height: auto;
}

mat-form-field.message {
  padding-top: 10px;
}

mat-card.home {
  height: 550px;
}

textarea.home {
  resize: none;
}

#home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 400px;
  overflow-x: hidden;
  height: auto;
  padding-bottom: 20px;
  color: white;
  background-color: black;
}

#hero {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 100%;
  height: 700px;
  min-height: 700px;
}

#hero-orange-background {
  display: flex;
  justify-content: right;
  width: 100%;
  height: 30vh;
  min-height: 210px;
  background-color: orangered;
}

#button-menu {
  margin: 20px 20px 0 0;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#mat-menu-icon {
  font-size: 40px;
  width: 40px;
  height: 40px;
  margin: 10px;
  transition: color 0.3s ease-in-out;
}

#mat-menu-icon:hover {
  color: black;
}

#hero-dark-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 70vh;
  background-color: black;
}

#hero-avatar {
  position: absolute;
  width: 300px;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../../assets/profile.avif);
  background-color: black;
  margin: 50px 0 0 0;
  border-radius: 50%;
  border: 10px solid black;
}
#hero-title-specialization {
  padding-top: 160px;
  font-size: 18px;
}
#hero-title {
  font-size: 36px;
  padding-top: 5px;
}

#hero-subtitle {
  text-align: center;
  padding: 20px 50px;
}

#about-me {
  padding: 100px 30px 110px 30px;
  line-height: 1.8;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

#about-me-description {
  padding: 30px 30px 0 30px;
}

#projects {
  display: flex;
  flex-direction: column;
  line-height: 1.8;
  width: 100%;
  height: auto;
  padding: 50px 30px 110px 30px;
}

#plan-your-trip-photo {
  background-image: url(../../../assets/plan_your_trip.png);
}

#sport-reserve-photo {
  background-image: url(../../../assets/sport_reserve.png);
}

#sport-reserve {
  border-bottom: 2px solid white;
  padding: 30px 0 100px 0;
  font-size: 20px;
}

#plan-your-trip {
  padding-top: 70px;
  font-size: 20px;
}

#plan-your-trip-project-links {
  padding-bottom: 30px;
}

#card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 10px 0;
  margin: 30px 0;
  color: white;
  background-color: orangered;
}

#submit-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

#form-component {
  padding-top: 50px;
}

#contact {
  display: flex;
  width: 100%;
  height: 100vh;
  min-height: 880px;
  flex-direction: column;
  align-items: center;
  padding: 80px 30px 80px 30px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  color: orangered;
}

#submit-button {
  background-color: orangered;
}

#hero-external-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}

#github-button,
#linkedin-button {
  display: flex;
  width: 80px;
  height: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 70px 20px 0 20px;
}

#github-button:hover,
#linkedin-button:hover {
  margin-bottom: 20px;
}

#github-button {
  background-image: url(../../../assets/github.png);
  margin-right: 50px;
}

#linkedin-button {
  background-image: url(../../../assets/linkedin.png);
}

.hero-button {
  width: 100px;
  height: 40px;
  margin: 30px;
}

.description {
  padding: 30px 0;
}

.hero-tech-stack-item {
  padding: 20px;
}

.photo {
  display: flex;
  width: 100%;
  aspect-ratio: 2 / 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.project-ul {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 0 10px 10px;
}

.title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 10px;
  color: orangered;
}

.project-name{
  padding-bottom: 20px;
}

.project-subtitle {
  font-size: 36px;
  padding: 20px 0;
  color: orangered;
}

.project-links {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  padding: 0px 0 20px 0;
}

.github-link {
  padding-right: 10px;
}

.tech-stack-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  padding: 10px;
}

.tech-stack-img {
  width: 80px;
  height: 80px;
  padding-bottom: 5px;
}

.tech-stack-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card-title-contact {
  font-size: 36px;
  font-weight: bold;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  mat-card.home {
    height: 520px;
  }

  mat-card-content.home {
    width: 500px;
    height: auto;
  }

  #contact {
    align-items: center;
  }

  #form-component {
    margin: auto;
  }

  #about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 130px 110px 130px;
    min-height: 500px;
  }

  #about-me-description {
    padding: 30px 0 0 0;
  }

  .card-title-contact {
    font-size: 36px;
    font-weight: bold;
  }
  .title {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  mat-card.home {
    height: 520px;
  }
  mat-card-content.home {
    width: 700px;
    height: auto;
  }

  #contact {
    align-items: center;
  }

  #form-component {
    margin: auto;
  }

  #about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 130px 110px 130px;
    min-height: 500px;
  }

  #about-me-description {
    padding: 30px 0 0 0;
  }

  .card-title-contact {
    font-size: 36px;
    font-weight: bold;
  }

  .title {
    text-align: center;
  }
}
