<section id="skills">
  <div [scrollShow]="'center'" class="title" id="card-title-skills">
    Technologies and Tools
  </div>
  <div id="skills-container" [scrollShow]="'up'">
    <mat-card class="skill-item">
      <div class="skill-logo">
        <i class="devicon-csharp-plain colored"></i>
      </div>
      <div class="skill-text">C#</div>
    </mat-card>
    <mat-card class="skill-item">
      <div class="skill-logo"><i class="devicon-java-plain colored"></i></div>
      <div class="skill-text">Java</div>
    </mat-card>

    <mat-card class="skill-item">
      <div class="skill-logo">
        <i class="devicon-dotnetcore-plain colored"></i>
      </div>
      <div class="skill-text">.NET</div>
    </mat-card>

    <mat-card class="skill-item">
      <div class="skill-logo">
        <i class="devicon-angular-plain colored angular-color"></i>
      </div>
      <div class="skill-text">Angular</div>
    </mat-card>

    <mat-card class="skill-item">
      <div class="skill-logo">
        <i class="devicon-typescript-plain colored"></i>
      </div>
      <div class="skill-text">TypeScript</div>
    </mat-card>

    <mat-card class="skill-item">
      <div class="skill-logo">
        <i class="devicon-javascript-plain colored"></i>
      </div>
      <div class="skill-text">JavaScript</div>
    </mat-card>

    <mat-card class="skill-item">
      <div class="skill-logo">
        <i class="devicon-microsoftsqlserver-plain colored"></i>
      </div>
      <div class="skill-text">MS SQL</div>
    </mat-card>

    <mat-card class="skill-item">
      <div class="skill-logo">
        <i class="devicon-mongodb-plain colored"></i>
      </div>
      <div class="skill-text">MongoDB</div>
    </mat-card>

    <mat-card class="skill-item">
      <div class="skill-logo">
        <i class="devicon-rabbitmq-original colored"></i>
      </div>
      <div class="skill-text">RabbitMQ</div>
    </mat-card>

    <mat-card class="skill-item">
      <div class="skill-logo">
        <i class="devicon-docker-plain colored"></i>
      </div>
      <div class="skill-text">Docker</div>
    </mat-card>

    <mat-card class="skill-item">
      <div class="skill-logo">
        <i class="devicon-azure-plain colored"></i>
      </div>
      <div class="skill-text">Azure</div>
    </mat-card>

    <mat-card class="skill-item">
      <div class="skill-logo">
        <i class="devicon-linux-plain colored"></i>
      </div>
      <div class="skill-text">Linux</div>
    </mat-card>

    <mat-card class="skill-item">
      <div class="skill-logo"><i class="devicon-git-plain colored"></i></div>
      <div class="skill-text">Git</div>
    </mat-card>

    <mat-card class="skill-item">
      <div class="skill-logo">
        <i class="devicon-postman-plain colored"></i>
      </div>
      <div class="skill-text">Postman</div>
    </mat-card>
  </div>
</section>
<section id="contact">
  <div [scrollShow]="'center'" class="title" class="card-title-contact">
    Contact
  </div>
  <div id="mat-card-contact-container">
    <div id="mat-card-contact-form">
      <form
        [scrollShow]="'left'"
        id="form-component"
        [formGroup]="form"
        (ngSubmit)="sendEmail()"
        autocomplete="off"
      >
        <mat-card class="email-form">
          <mat-card-title id="card-title">Send Email</mat-card-title>

          <mat-card-content class="email-content">
            <mat-form-field appearance="outline">
              <mat-label>Your email</mat-label>

              <input
                matInput
                formControlName="from"
                placeholder="email@gmail.com"
              />

              <mat-error
                *ngIf="
                  form.get('from')?.hasError('required') &&
                  form.get('from')?.touched
                "
              >
                Email is required.
              </mat-error>

              <mat-error
                *ngIf="
                  form.get('from')?.hasError('email') &&
                  form.get('from')?.touched
                "
              >
                Invalid email address.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="subject">
              <mat-label>Subject</mat-label>

              <input
                matInput
                formControlName="subject"
                placeholder="e.g. Job Opportunity"
              />

              <mat-error
                *ngIf="
                  form.get('subject')?.hasError('required') &&
                  form.get('subject')?.touched
                "
              >
                Subject is required.
              </mat-error>

              <mat-error
                *ngIf="
                  form.get('subject')?.hasError('minlength') &&
                  form.get('subject')?.touched
                "
              >
                Subject must be at least 5 characters.
              </mat-error>

              <mat-error
                *ngIf="
                  form.get('subject')?.hasError('maxlength') &&
                  form.get('subject')?.touched
                "
              >
                Subject cannot exceed 100 characters.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="message">
              <mat-label>Message</mat-label>

              <textarea
                class="home"
                matInput
                rows="6"
                formControlName="message"
                placeholder="Your message..."
              ></textarea>

              <mat-error
                *ngIf="
                  form.get('message')?.hasError('required') &&
                  form.get('message')?.touched
                "
              >
                Message is required.
              </mat-error>

              <mat-error
                *ngIf="
                  form.get('message')?.hasError('minlength') &&
                  form.get('message')?.touched
                "
              >
                Message must be at least 10 characters.
              </mat-error>

              <mat-error
                *ngIf="
                  form.get('message')?.hasError('maxlength') &&
                  form.get('message')?.touched
                "
              >
                Message cannot exceed 1000 characters.
              </mat-error>
            </mat-form-field>

            <div id="submit-button-container">
              <button
                id="submit-button"
                mat-flat-button
                type="submit"
                [disabled]="isSending"
              >
                {{ isSending ? "Sending..." : "Send" }}
              </button>
            </div>
          </mat-card-content>
        </mat-card>
      </form>
    </div>
    <div id="mat-card-contact-form-information" [scrollShow]="'right'">
      <mat-card class="mat-card-contact-information">
        <mat-card-content id="mat-card-contact-information-content">
          <div class="mat-card-contact-information-title">
            Contact Information
          </div>
          <div class="mat-card-contact-information-description">
            You can contact me using the form or any of the methods below.
          </div>
          <div class="mat-card-contact-information-ways">
            <div class="mat-card-contact-information-way">
              <div class="mat-card-contact-information-way-item">
                <span
                  class="iconify"
                  data-icon="mdi:gmail"
                  data-width="40"
                ></span>
              </div>
              <div class="mat-card-contact-information-way-item-text">
                arkadiuszschabowski&#64;gmail.com
              </div>
            </div>
            <div class="mat-card-contact-information-way">
              <div class="mat-card-contact-information-way-item">
                <span
                  class="iconify"
                  data-icon="mdi:linkedin"
                  data-width="40"
                ></span>
              </div>
              <div>
                <a
                  class="mat-card-contact-information-way-item-text"
                  href="https://linkedin.com/in/arkadiusz-schabowski"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Linkedin</a
                >
              </div>
            </div>
            <div class="mat-card-contact-information-way">
              <div class="mat-card-contact-information-way-item">
                <span
                  class="iconify"
                  data-icon="mdi:github"
                  data-width="40"
                ></span>
              </div>
              <a
                class="mat-card-contact-information-way-item-text"
                href="https://github.com/ArkadiuszSchabowski"
                target="_blank"
                rel="noopener noreferrer"
                >Github</a
              >
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
