@use "@angular/material" as mat;

mat-card.home {
  height: 550px;
}

mat-card.mat-card-project {
  display: flex;
  width: 90%;
  height: auto;
  min-height: 300px;
  color: black;
  margin: 0;
}

mat-card-content.mat-card-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

textarea.home {
  resize: none;
}

.email-content {
  display: flex;
  flex-direction: column;
}

.message {
  padding-top: 10px;
}

.subject {
  padding-top: 10px;
}

.mat-card-project-links {
  display: flex;
  flex-direction: row;
}

#home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 300px;
  height: auto;
  padding-bottom: 20px;
  color: white;
  background-color: silver;
  overflow-x: hidden;
}

#hero {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
}

#mat-menu {
  display: flex;
  position: absolute;
}

#hero-background {
  display: flex;
  justify-content: right;
  width: 100%;
  min-height: 220px;
  background-color: silver;
}

#hero-dark-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 400px;
  background-color: gray;
}

#projects {
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  background-color: gray;
  justify-content: center;
  align-items: center;
}

#projects-title {
  color: white;
}

#button-menu {
  margin: 20px 20px 0 0;
  color: black;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#mat-menu-icon {
  font-size: 40px;
  width: 40px;
  height: 40px;
  margin: 10px;
  transition: color 0.3s ease-in-out;
}

#mat-menu-icon:hover {
  color: white;
}

#hero-avatar {
  position: absolute;
  width: 300px;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../../assets/profile.avif);
  background-color: black;
  margin: 70px 0 0 0;
  border-radius: 25px;
  border: 10px solid gray;
}

#hero-title {
  text-align: center;
  font-size: 40px;
  padding-top: 5px;
}

#hero-title-specialization {
  padding-top: 160px;
  font-size: 26px;
}

#about-me {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  padding: 70px 25px 110px 25px;
  color: black;
  background-color: silver;
}

#about-me-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 30px 0 0 0;
}

#about-me-description {
  display: flex;
  width: 100%;
  height: auto;
  line-height: 1.6;
  font-size: 20px;
}

#about-me-photo {
  display: flex;
  width: auto;
  height: auto;
  aspect-ratio: 2 /1.5;
  background-image: url(../../../assets/aboutme.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.iconify {
  color: #2196f3;
}

.iconify-hero {
  color: white;
}

.mat-card-contact-information-way {
  display: flex;
  align-items: center;
}

.mat-card-contact-information-way-item-text {
  font-size: 16px;
  text-decoration: none;
  color: #1976d2;
}
.project-icon {
  font-size: 50px;
  color: black;
  padding-right: 10px;
}

.hero-icon {
  font-size: 100px;
  padding: 15px;
  text-decoration: none;
  color: white;
}

.project-icon:hover {
  font-size: 50px;
  color: #2196f3;
}

.mat-card-contact-information-way-item-text:hover,
.hero-icon:hover {
  color: #2196f3;
}

#submit-button:hover{
  background-color: #2196f3;
}

#card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 10px 0;
  margin: 30px 0;
  color: white;
  background-color: #1976d2;
}

#submit-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

#submit-button {
  background-color: #1976d2;
  font-size: 18px;
  font-weight: bold;
}

#hero-external-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 430px;
  height: 500px;
  margin-bottom: 20px;
}

.hero-button {
  width: 100px;
  height: 40px;
  margin: 0;
}

.description {
  padding: 30px 0;
}

.hero-tech-stack-item {
  padding: 20px;
}

.photo {
  display: flex;
  width: 100%;
  aspect-ratio: 2 / 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.project-ul {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 0 10px 10px;
}

.title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: black;
}

.project-name {
  padding-bottom: 20px;
}

.project-links {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  padding: 0px 0 20px 0;
}

.github-link {
  padding-right: 10px;
}

.tech-stack-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  padding: 10px;
}

.tech-stack-img {
  width: 80px;
  height: 80px;
  padding-bottom: 5px;
}

.tech-stack-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#sport-reserve,
#project-plan-your-trip {
  margin-top: 50px;
}

#project-plan-your-trip {
  margin-bottom: 50px;
}

.mat-card-left-side,
.mat-card-right-side {
  display: flex;
  height: 100%;
}

.mat-card-left-side {
  width: 100%;
  min-height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#sport-reserve-mat-card-left-side {
  background-image: url(../../../assets/sport_reserve.png);
}

#plan-your-trip-mat-card-left-side {
  background-image: url(../../../assets/plan_your_trip.png);
}

.mat-card-right-side {
  flex-direction: column;
  align-items: baseline;
  width: 100%;
  padding: 0 20px;
}

.mat-card-project-title,
.mat-card-contact-information-title {
  font-size: 24px;
  font-weight: bold;
  padding: 20px 0;
}

.mat-card-project-description,
.mat-card-contact-information-description {
  text-align: left;
  padding-bottom: 10px;
  font-size: 20px;
}

.mat-card-project-technology {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(220, 218, 218);
  padding: 0 10px;
  margin: 0 10px 10px 0;
  font-weight: bold;
  border-radius: 25px;
  width: auto;
  height: 30px;
  font-size: 18px;
}

.mat-card-project-technologies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  padding: 10px 0;
}

mat-card.mat-card-contact-information {
  display: flex;
  width: 100%;
  min-width: 300px;
  height: auto;
  margin-top: 50px;
  color: black;
}

#contact {
  display: flex;
  width: 100%;
  min-width: 300px;
  height: auto;
  min-height: 700px;
  flex-direction: column;
  align-items: center;
  padding: 70px 30px 20px 30px;
  color: white;
  background-color: gray;
}

#mat-card-contact-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

#mat-card-contact-form,
#mat-card-contact-form-information {
  display: flex;
  width: 100%;
  height: auto;
  padding: 10px 0;
}

#form-component {
  display: flex;
  width: 100%;
  height: auto;
  padding-top: 50px;
}

#mat-card-contact-form {
  flex-direction: column;
}

.card-title-contact {
  font-size: 36px;
  font-weight: bold;
}

#card-title-skills {
  padding: 70px 0;
}

.email-form {
  display: flex;
  width: 100%;
}

.mat-card-contact-information-way {
  display: flex;
  flex-direction: row;
}

.mat-card-contact-information-way-item {
  padding-right: 10px;
}

#skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 200px;
}

#skills-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}

.skill-item {
  display: flex;
  flex-direction: column;
  width: 170px;
  height: 170px;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
}

.skill-item:hover {
  background-color: white;
}

.skill-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
  font-size: 80px;
  padding-top: 20px;
}

.angular-color {
  color: #dd0031 !important;
}

.skill-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
  font-size: 22px;
  font-weight: bold;
  padding-top: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  mat-card.mat-card-project {
    width: 100%;
  }

  mat-card-content.mat-card-project {
    display: flex;
    flex-direction: row;
  }

  #projects,
  #plan-your-trip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #form-component {
    display: flex;
    width: 100%;
  }

  #about-me,
  #contact,
  #projects {
    padding: 70px 90px;
  }

  #skills {
    padding: 70px 50px;
  }

  #card-title-skills {
    padding: 0 0 50px 0;
  }

  #about-me-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding-top: 70px;
  }

  #about-me-description,
  #about-me-photo {
    display: flex;
    width: 50%;
    height: auto;
    font-size: 19px;
  }

  #about-me-photo {
    width: 45%;
    margin-left: 5%;
  }

  #hero {
    flex-direction: row;
  }

  #hero-background,
  #hero-dark-background {
    height: 100vh;
  }

  #hero-background {
    width: 300px;
    min-width: 300px;
  }

  #hero-dark-background {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 400px;
    border-bottom-left-radius: 25px;
  }

  #sport-reserve {
    margin-top: 50px;
  }

  .title {
    text-align: center;
  }

  .mat-card-right-side {
    width: 60%;
  }
  .mat-card-left-side {
    width: 40%;
  }

  #hero-avatar {
    margin: 0 0 0 150px;
  }
  #hero-title-specialization,
  #hero-title,
  #hero-external-buttons {
    padding-left: 150px;
  }
  #hero-title {
    padding-top: 20px;
  }
}

@media screen and (min-width: 1200px) {
  mat-card.home {
    height: 520px;
  }

  mat-card.mat-card-project {
    width: 100%;
    margin: 0;
  }

  mat-card-content.mat-card-project {
    display: flex;
    flex-direction: row;
  }

  #projects,
  #plan-your-trip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #about-me,
  #contact,
  #projects {
    display: flex;
    padding: 70px 200px;
  }

  #skills {
    padding: 70px 170px;
  }

  #card-title-skills {
    padding: 0 0 50px 0;
  }

  #about-me-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding-top: 70px;
  }

  #about-me-description,
  #about-me-photo {
    display: flex;
    width: 50%;
    height: auto;
    font-size: 19px;
  }

  #about-me-photo {
    width: 45%;
    margin-left: 5%;
  }

  #hero {
    flex-direction: row;
  }

  #hero-background,
  #hero-dark-background {
    height: 100vh;
  }

  #hero-background {
    width: 300px;
    min-width: 300px;
  }

  #hero-dark-background {
    width: 100%;
    justify-content: center;
    align-items: center;
    min-width: 700px;
    border-bottom-left-radius: 25px;
  }

  #hero-title {
    padding-top: 20px;
    font-size: 66px;
  }

  #hero-title-specialization {
    font-size: 34px;
  }

  #sport-reserve {
    margin-top: 50px;
  }

  .title {
    text-align: center;
  }

  .mat-card-right-side {
    width: 60%;
  }
  .mat-card-left-side {
    width: 40%;
  }

  #hero-avatar {
    margin: 0 0 0 150px;
  }
  #hero-title-specialization,
  #hero-title,
  #hero-external-buttons {
    padding-left: 20%;
  }

  #contact {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #mat-card-contact-container {
    flex-direction: row;
  }
  #mat-card-contact-form {
    display: flex;
    width: 50%;
    padding-right: 2.5%;
  }
  #mat-card-contact-form-information {
    display: flex;
    width: 50%;
  }
}
