<section id="skills">
  <div [scrollShow]="'center'" class="title" id="card-title-skills">
    Technologies and Tools
  </div>
  <div id="skills-container" [scrollShow]="'up'">
    <mat-card class="skill-item">
      <div class="skill-logo">
        <i class="devicon-csharp-plain colored"></i>
      </div>
      <div class="skill-text">C#</div>
    </mat-card>
    <mat-card class="skill-item">
      <div class="skill-logo"><i class="devicon-java-plain colored"></i></div>
      <div class="skill-text">Java</div>
    </mat-card>

    <mat-card class="skill-item">
      <div class="skill-logo">
        <i class="devicon-dotnetcore-plain colored"></i>
      </div>
      <div class="skill-text">.NET</div>
    </mat-card>

    <mat-card class="skill-item">
      <div class="skill-logo">
        <i class="devicon-angular-plain colored angular-color"></i>
      </div>
      <div class="skill-text">Angular</div>
    </mat-card>

    <mat-card class="skill-item">
      <div class="skill-logo">
        <i class="devicon-typescript-plain colored"></i>
      </div>
      <div class="skill-text">TypeScript</div>
    </mat-card>

    <mat-card class="skill-item">
      <div class="skill-logo">
        <i class="devicon-javascript-plain colored"></i>
      </div>
      <div class="skill-text">JavaScript</div>
    </mat-card>

    <mat-card class="skill-item">
      <div class="skill-logo">
        <i class="devicon-microsoftsqlserver-plain colored"></i>
      </div>
      <div class="skill-text">MS SQL</div>
    </mat-card>

    <mat-card class="skill-item">
      <div class="skill-logo">
        <i class="devicon-mongodb-plain colored"></i>
      </div>
      <div class="skill-text">MongoDB</div>
    </mat-card>

    <mat-card class="skill-item">
      <div class="skill-logo">
        <i class="devicon-rabbitmq-original colored"></i>
      </div>
      <div class="skill-text">RabbitMQ</div>
    </mat-card>

    <mat-card class="skill-item">
      <div class="skill-logo">
        <i class="devicon-docker-plain colored"></i>
      </div>
      <div class="skill-text">Docker</div>
    </mat-card>

    <mat-card class="skill-item">
      <div class="skill-logo">
        <i class="devicon-azure-plain colored"></i>
      </div>
      <div class="skill-text">Azure</div>
    </mat-card>

    <mat-card class="skill-item">
      <div class="skill-logo">
        <i class="devicon-linux-plain colored"></i>
      </div>
      <div class="skill-text">Linux</div>
    </mat-card>

    <mat-card class="skill-item">
      <div class="skill-logo"><i class="devicon-git-plain colored"></i></div>
      <div class="skill-text">Git</div>
    </mat-card>

    <mat-card class="skill-item">
      <div class="skill-logo">
        <i class="devicon-postman-plain colored"></i>
      </div>
      <div class="skill-text">Postman</div>
    </mat-card>
  </div>
</section>