<section id="about-me">
  <div [scrollShow]="'center'" class="title">About Me</div>
  <div id="about-me-container">
    <div [scrollShow]="'left'" id="about-me-description" class="description">
      Full-Stack Developer focused on creating scalable web applications using
      .NET and Angular. My stack includes C#, Java, databases like MS SQL, and
      tools like Docker. I write clean code, design efficient APIs, and explore
      the world of AI by developing autonomous AI agents. I also spend my time
      actively co-developing an open-source project for a foundation, which
      helps me grow as a team player and engineer.
    </div>
    <div [scrollShow]="'right'" id="about-me-photo"></div>
  </div>
</section>